<header class='container'>
    <nav class='row'>
        <div class='col' [routerLink]='["/"]'>Home</div>
        <ng-container *ngFor='let i of [3,4,5]'>
            <div class='col' [routerLink]='["/soduko", i]'>Soduko {{ i }}</div>
        </ng-container>
        <div class='col' [routerLink]='["/shop"]'>Book shop</div>
        <div class='col' [routerLink]='["/move"]'>Move game</div>
        <div class='col' [routerLink]='["/weather"]'>Check weather</div>
    </nav>
</header>
<router-outlet></router-outlet>